$light: #ffffff;
$gray: #c4ccde;

.mynav{
  background-color: $light;
  padding: 1rem 2rem;
  text-align:center;
  border-bottom: 1px solid $gray;
  margin:0 auto;
  width: 100%;

}

.sidebar{
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $gray;
}

#grafico{
  height:calc(100vh - 52px);
  margin:0 auto; 
  width:100%;
  text-align:center
}